.services-section {
  padding: 60px 0;
  background-color: #f9fafb;
}

.service-card {
  background: #fff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-8px);
}

.icon-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 28px;
  margin-bottom: 15px;
}

.blue {
  background-color: #3b82f6;
}
.purple {
  background-color: #a855f7;
}
.green {
  background-color: #22c55e;
}

.ulsize{
    font-size: 14px;
}
.dotsize{
    font-size: 25px;
}

@media (max-width: 1024px) {
  .navbar-expand-xl .navbar-collapse {
    display: none !important;
  }
  .navbar-expand-xl .navbar-toggler {
    display: block !important;
  }
}


.card-with-bg {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.card-with-bg::before {
  content: "";
  position: absolute;
  margin: 10px;
  top: 0;
  left: 0;
  right: 5%;
  width: calc(100% - 30px);
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(6px);   /* 🔥 blur effect */
  z-index: 0;
}

/* Specific backgrounds */
.bg-journal::before {
  background-image: url("../assets/journal.png");
}

.bg-book::before {
  background-image: url("../assets/BookChaptersPublication.png");
}

.bg-conference::before {
  background-image: url("../assets/ConferencePublicationServices.png");
}

.bg-textbook::before {
  background-image: url("../assets/im3.jpeg");
}

.bg-patent::before {
  background-image: url("../assets/patent.png");
}

.bg-funding::before {
  background-image: url("../assets/funding.png");
}

.bg-writing::before {
  background-image: url("../assets/im2.jpeg");
}

.bg-membership::before {
  background-image: url("../assets/membership.png");
}

/* Keep content clear */
.card-with-bg .service-card {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.2); /* optional glass look */
  border-radius: 16px;
  
}

